.context {
  background-color: #ebedf3;
  padding:1rem;
    border-radius: 0.42rem;
}

.context-title {
  font-size: 13px;
  font-weight: 500;
  color: var(--black54);
  margin: 0;
  padding: 11px 11px 0 11px;
}

.context-item-title {
  font-weight: normal;
  font-size: 13px;
  margin: 0;
  padding: 0 11px 11px 11px;
}

.text-link {
  display: inline-block;
  padding: 0 1em 1em 1em;
  font-size: 11px;
  color: var(--ltblue700);
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 0.42rem;
  }