.accordion{
    box-shadow: 0 0 30px 0rgba(82,63,105,.05) !important;
    border: 1px solid #EBEDF3 !important;
    margin-bottom: 25px;
    border-radius: 0.42rem !important;
}
.accordion-item,  .accordion-header{
    border:none;
}
.accordion-button{
    color: #3f4254 !important;
}
.accordion-button:focus {
    box-shadow:none !important;
}
.accordion-button:not(.collapsed) {
    color: #0c63e4!important;
    background-color: #ffffff !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0.42rem !important;
    border-bottom-left-radius: 0.42rem !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0.42rem !important;
    border-top-right-radius: 0.42rem !important;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0.42rem !important;
    border-top-right-radius: 0.42rem !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0.42rem !important;
    border-bottom-left-radius: 0.42rem !important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg) !important;
}
.accordion-button::after {
    color:#7E8299 !important;
    transform: rotate(-90deg) !important;
    width: .8rem !important;
    height: .8rem !important;
    background-size: .8rem !important;
}
#inner-accordion{
    margin-bottom:0 !important; 
}
.suite-body{
    padding:0 !important;
}
.titulo-card{
    margin-block: 1rem;
}