:root {
  --screen-sm-min: 768px;
  --screen-md-min: 992px;
  --screen-lg-min: 1200px;
  --grid-gutter-width: 30px;
  --container-sm: calc(720px + var(--grid-gutter-width));
  --container-md: calc(940px + var(--grid-gutter-width));
  --container-lg: calc(1140px + var(--grid-gutter-width));
  --navbar-height: 122px;
  --navbar-height-short: 70px;
  --summary-height-stacked: 82px;
  --statusbar-height-stacked: 54px;
  --footer-height: 60px;
  --default-transition-duration: 0.2s;
  --default-transition-easing: ease;
}
.material-symbols-outlined {
  margin-right: 5px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.navText{margin-bottom: 0 !important;}
#navbar {
    z-index: 100;
  position: fixed;
  font-size: 18px;
  width: 100%;
  height: 72px;
  background-color: #003da5;
  color: #fff;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 40px 0px rgb(82 63 105 / 10%);
}
#navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 30px;
}
.menu {
  opacity: 0.7;
  transition: 0.2s;
}
.menu:hover {
  opacity: 1;
}
.stateItem {
  cursor: pointer;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
}
.navText{
    margin-left: 5px;
}
.bars{
  transform: rotate(-180deg);
  transition: 0.2s;
  z-index: 101;
}
.opened{
  transform: rotate(0deg);
}