.test-container{
    margin-block:1rem;
}

pre code {
    display: block;
    font-size: 1em;
    padding: 1em;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100px;
    padding: 0;
}
.errorMsg code{
    color:#E63C2F
}
pre{
    background-color: #ebedf3;
    padding:1rem;
    border-radius: 0.42rem;
}

.duration{
    margin-bottom: 0;
    font-weight: 100;
    margin-left: 20px;
    font-size: 0.85rem;
}