body {
  margin: 0 !important;
  padding: 0!important;

}
.details {
  padding-top: calc(var(--navbar-height-short) + 24px) !important;;
}
.footer-report{
  margin-top: 2rem ;
  width: 100%;
  height: 60px;
  height: var(--footer-height);
  color: rgba(0,0,0,.38);
  color: var(--black38);
  text-align: center;
}

footer {
  display: block;
}